<h1>Add a home</h1>

<form action="/homes/add" method="post">
  Picture: <input type="text" name="picture"><br>
  Street: <input type="text" name="street"><br>
  City: <input type="text" name="city"><br>
  <button>Create home</button>
</form>
