<h1>Welcome Ironhomers. :)</h1>

The website was visited {{counter}} times

<h2>Homes</h2>
{{#each homes}}
  {{> card this}}
{{/each}}



<hr class="clearfix">

<p>Search for an apartment</p>

<form action="/search" method="get">
  <input type="text" name="city" placeholder="city">
  <input type="number" name="maxPrice" placeholder="maximum price">
  <button>Search</button>
</form>

<hr>
